<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220203-120822-CodeSystem-zuppl-snomed-ct-auszug-4-eimpf-specialcasevaccinatio.html">2022-02-03 12:08:22</a></td><td><a onclick="createDiff('CodeSystem-zuppl-snomed-ct-auszug-4-eimpf-specialcasevaccinatio.html', '20220203-120822-CodeSystem-zuppl-snomed-ct-auszug-4-eimpf-specialcasevaccinatio.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220401-075405-CodeSystem-zuppl-snomed-ct-auszug-4-eimpf-specialcasevaccinatio.html">2022-04-01 07:54:05</a></td><td><a onclick="createDiff('CodeSystem-zuppl-snomed-ct-auszug-4-eimpf-specialcasevaccinatio.html', '20220401-075405-CodeSystem-zuppl-snomed-ct-auszug-4-eimpf-specialcasevaccinatio.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>