<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220202-122156-CodeSystem-zuppl-medikation-ages-wirkstoffe-4-elga-wirkstoffe-ages.html">2022-02-02 12:21:56</a></td><td><a onclick="createDiff('CodeSystem-zuppl-medikation-ages-wirkstoffe-4-elga-wirkstoffe-ages.html', '20220202-122156-CodeSystem-zuppl-medikation-ages-wirkstoffe-4-elga-wirkstoffe-ages.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220202-142407-CodeSystem-zuppl-medikation-ages-wirkstoffe-4-elga-wirkstoffe-ages.html">2022-02-02 14:24:07</a></td><td><a onclick="createDiff('CodeSystem-zuppl-medikation-ages-wirkstoffe-4-elga-wirkstoffe-ages.html', '20220202-142407-CodeSystem-zuppl-medikation-ages-wirkstoffe-4-elga-wirkstoffe-ages.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220224-135236-CodeSystem-zuppl-medikation-ages-wirkstoffe-4-elga-wirkstoffe-ages.html">2022-02-24 13:52:36</a></td><td><a onclick="createDiff('CodeSystem-zuppl-medikation-ages-wirkstoffe-4-elga-wirkstoffe-ages.html', '20220224-135236-CodeSystem-zuppl-medikation-ages-wirkstoffe-4-elga-wirkstoffe-ages.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220330-070709-CodeSystem-zuppl-medikation-ages-wirkstoffe-4-elga-wirkstoffe-ages.html">2022-03-30 07:07:09</a></td><td><a onclick="createDiff('CodeSystem-zuppl-medikation-ages-wirkstoffe-4-elga-wirkstoffe-ages.html', '20220330-070709-CodeSystem-zuppl-medikation-ages-wirkstoffe-4-elga-wirkstoffe-ages.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>