<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220211-073707-CodeSystem-zuppl-dcm-4-elga-auditeventtype.html">2022-02-11 07:37:07</a></td><td><a onclick="createDiff('CodeSystem-zuppl-dcm-4-elga-auditeventtype.html', '20220211-073707-CodeSystem-zuppl-dcm-4-elga-auditeventtype.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>