<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220307-144421-CodeSystem-zuppl-snomed-ct-auszug-4-eimpf-antikoerperbestimmung.html">2022-03-07 14:44:21</a></td><td><a onclick="createDiff('CodeSystem-zuppl-snomed-ct-auszug-4-eimpf-antikoerperbestimmung.html', '20220307-144421-CodeSystem-zuppl-snomed-ct-auszug-4-eimpf-antikoerperbestimmung.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>