<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220225-145328-CodeSystem-zuppl-loinc-4-elga-laborparameter.html">2022-02-25 14:53:28</a></td><td><a onclick="createDiff('CodeSystem-zuppl-loinc-4-elga-laborparameter.html', '20220225-145328-CodeSystem-zuppl-loinc-4-elga-laborparameter.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>